h1 {
    color: black;
    text-align: center;
    font-weight: bold;
}

h4 {
    color: black;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

.khien1, .khien2, .khien3{
    text-decoration:line-through;
}


.color{
    text-align: center;
    color: red;
}
